
.App {
  padding-top: 35px;
  text-align: center;
  align-items: center;
}


.ShearchForm-wrapper{
  display: flex;
  justify-content: center;
}

.MovieList{
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.MoviesList-items{
  margin-bottom:24px;
  width: 20%;
  padding: 1%;
}


/* Responsive Tablet*/
@media screen and (max-width:1360px){


  .MoviesList-items{
    margin-bottom:24px;
    width: 33%;
  }



}

/* Responsive Celular*/

@media screen and (max-width:600px){
  .MoviesList-items{
    margin-bottom:24px;
    width: 50%;
  }
}